:root {
    --branding--logo--max-width: 256px;
    --branding--logo--max-height: 48px;
    --branding--logo--max-width-mobile: 192px;
    --branding--logo--max-height-mobile: 40px;

    --primary-nav--font-family: var(--global--font-primary);
    --primary-nav--font-family-mobile: var(--global--font-primary);
}

.custom-logo-link:focus {
    background-color: transparent !important;
    outline: none !important;
    -moz-outline: none !important;
}

.site-header {
    background: linear-gradient(175deg, rgba(252, 12, 26,0.9) 20%, rgba(43, 112, 223, 0.68) 100%) !important;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    padding: 12px calc(12vw - 72px) 12px calc(12vw - 72px) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: var(--responsive--alignfull-width) !important;
    transition: 500ms, 0s transform;
    z-index: 2;

    @media (max-width: 481px) {
        background: linear-gradient(120deg,rgb(252,12,26,0.9) 10%,rgb(43,112,223,0.68) 100%) !important;
        padding: 18px 1.5em 3px 1.5em !important;
        height: 58.5px !important;
    }
    @media (min-width: $screen-sm-min) {
        padding: 12px 1.5em 12px 1.5em !important;
    }
    @media (min-width: $screen-md-min) {
        padding: 12px 1.5em 12px 1.5em !important;
    }
    @media (min-width: $screen-lg-min) {
        padding: 12px 3em 12px 3em !important;
    }
    @media (min-width: $screen-xl-min) {
        padding: 12px calc(12vw - 72px) 12px calc(12vw - 72px) !important;
    }
}

.site-branding {
    margin-top: 0 !important;
    &:focus {
        outline: none !important;
        -moz-outline: none !important;
    }
}

.site-description {
    color: #FFFFFF;
    font-size: 18px;
    font-family: var(--font-headings);
    font-weight: var(--heading--font-weight);
    max-width: 192px;
    position: absolute;
    right: 84px;
    top: 15px;
    transition: 250ms;
    text-align: right;
    letter-spacing: -0.8px !important;
    line-height: 1 !important;
    z-index: 500;    
    @media (max-width: 360px) {
        opacity: 0;
        visibility: hidden;
    }
    @media (max-width: 481px) {
        font-size: 15px;
        max-width: 160px !important;
        top: 14px !important;
        right: 84px !important;
        letter-spacing: -0.6px !important;
    }
}
@media (min-width: $screen-md-min) {
    .site-description {
        right: 84px !important;
    }
}
@media (min-width: $screen-lg-min) {
    .site-description {
        right: 112px !important;
    }
}
@media (min-width: $screen-xl-min) {
    .site-description {
        right: calc(12vw - 16px) !important;
    }
}

.site-title {
    display: none;
}

.site-logo {
    border: none !important;
    padding-bottom: 0px !important;
    width: inherit !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transition: 250ms;
    z-index: 500 !important;
    &:hover {
        opacity: 0.8;
    }
    &:focus {
        outline: none !important;
        -moz-outline: none !important;
    }
    & img:focus {
        outline: none !important;
        -moz-outline: none !important;
    }
    @media (max-width: $screen-xs-max) {
        left: 30px;
        top: 9px;
        position: absolute !important;
        padding: 0 !important;
    }
}

@media (max-width: 291px) {
    .site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo img {
        max-height: 24px !important;
    }
}

.menu-button-container {
    display: flex !important;
    top: -36px;
}

@media (max-width: 481px) {
.menu-button-container {
    display: flex !important;
    top: 0px !important;
    }   
}

.menu-button-container > #primary-mobile-menu {
    color: var(--global--color-white) !important;
    font-size: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none;
    position: relative;
    bottom: 0 !important;
    left: 7px !important;
}

.menu-button-container #primary-mobile-menu .dropdown-icon.close .svg-icon {
    width: 40px !important;
    height: 40px !important;
}

.menu-button-container #primary-mobile-menu .dropdown-icon.open .svg-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px !important;
    right: 0px !important;
}

@media (max-width: 481px) {

.menu-button-container > #primary-mobile-menu > .dropdown-icon.close {
    display: flex !important;
    position: relative;
    top: 2px;
    opacity: 0;
}

.menu-button-container #primary-mobile-menu[aria-expanded*=true] {
        top: -92px !important;
        right: 356px !important;
}

.menu-button-container #primary-mobile-menu[aria-expanded*=true] .dropdown-icon.close {
    color: var(--global--color-white);
    display: flex;
    position: relative;
    opacity: 1;
    left: calc(100vw - 68px) !important;
    top: -5px !important;
    transition: 200ms opacity 200ms;
    }
}

.has-logo.has-title-and-tagline .menu-button-container #primary-mobile-menu[aria-expanded*=true] .dropdown-icon.close {
    animation-duration: 1s !important;
}

#primary-menu-list {
    visibility: hidden;
    opacity: 0;
    transition: 750ms 300ms opacity;
}
@media (max-width: 481px) {
    #primary-menu-list {
        display: flex;
        margin-top: 72px !important;
    }
}

.primary-navigation-open #primary-menu-list {
    opacity: 1;
    visibility: visible;
}

.primary-navigation a {
    color: #FFFFFF !important;
    font-size: 20px !important;
    font-family: var(--font-headings);
    font-weight: var(--heading--font-weight);
    letter-spacing: -0.4px;
    text-decoration: none !important;
    transition: 300ms;
    &:hover {
        text-decoration: none !important;
        opacity: 0.75;
    }
}

.primary-navigation > .primary-menu-container {
    transform: none !important;
    height: 0vh !important;
    opacity: 0 !important;
    padding: 12px 24px 16px 8px !important;
    position: absolute !important;
    transition: 400ms;
    @media (max-width: 481px) {
        transition: 250ms background, 500ms height 0s, 300ms opacity, 0s transform !important; 
    }
    @media (min-width: 482px) {
        top: 32px !important;
        left: -296px !important;
    }
}

.primary-navigation-open .menu-button-container {
    background: transparent !important;
    width: inherit;
    top: -36px !important;
    right: -6px;
    @media (max-width: 481px) {
        top: 0px !important;
        right: 0px !important;
    }
}

.primary-navigation-open .primary-navigation > .primary-menu-container {
    background: linear-gradient(140deg,rgb(252,12,26,0.9) 0%,rgb(43,112,223,0.68) 100%) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 100vh !important;
    top: 0px;
    left: 0px;
    opacity: 1 !important;
    position: absolute;
    border: none;
    transition: 250ms background, 500ms height ease-in-out 0s, opacity 300ms, 0s transform !important; 
    @media (min-width: 482px) {
        border-radius: 24px;
        box-shadow: 0 1rem 3rem rgba(37, 28, 28, 0.3);
        height: 240px !important;
        width: 320px !important;
        top: 42px !important;
        left: -296px !important;
        position: absolute !important;
    }
        
}
@media (max-width: 481px) {
    .primary-navigation > div > .menu-wrapper {
    margin-left: 0.5em;
    margin-top: 12vw;
    padding-bottom: 2em;
    }
    .primary-navigation-open .site-header.has-logo:not(.has-title-and-tagline).has-menu .site-logo {
        display: block !important;
        position: relative !important;
        transition-delay: 300ms;
        transition: 300ms;
    }
}