:root {
    --font-base: "Lato", Arial, sans-serif;
    --font-headings: "Montserrat", Arial, sans-serif;

    --heading--font-weight: 600;
    --heading--font-weight-page-title: 600;
    --heading--font-weight-strong: 600;

    --global--font-size-xxl: 2.5rem !important;
    --global--font-size--xxxl: 3.5rem !important;

    @media only screen and (min-width: 652px) {
        --global--font-size-xxl: 4rem !important;
        --global--font-size-xxxl: 6rem !important;
    }
}

.wp-block.editor-post-title__block .editor-post-title__input {
    color: var(--global--color-primary);
}

.wp-block-cover, .wp-block-cover-image {
    .wp-block-cover__inner-container {
        width: auto;
    }
}
