@media (min-width: 652px) { .wp-block-column.vertical-center {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
}

.blog-grid {
    display: grid;
    font-size: 20px !important;
    font-family: var(--heading--font-family);
    font-weight: var(--heading--font-weight);
    gap: 48px;
    grid-template-columns: 3fr 7fr;
    margin-left: -22px;
}

.secondary-grid {
    color: #FFFFFF;
    display: grid;
    font-size: 20px !important;
    font-family: var(--heading--font-family);
    font-weight: var(--heading--font-weight);
    gap: 48px;
    grid-template-columns: 3fr 7fr;
    margin-left: -22px;
}

.new-article {
    background-color: var(--global--color-dark-grey);
    border-radius: 16px;
    color: #FFFFFF;
    max-height: 320px;
    padding: 24px 20px 24px 20px;
}

.new-article-image-date, .featured-article-image-date {
    margin-bottom: 6px !important;
}
.new-article-title, .featured-article-title {
    margin-bottom: 4px !important;
}
.new-article-image-author, .featured-article-image-author {
    margin-bottom: 2px !important;
}

.new-article-title, .new-article-image-author, .new-article-image-date, .featured-article-title, .featured-article-image-date, .featured-article-image-author {
    letter-spacing: -0.02em !important;
}

.new-article-heading, .featured-article-heading, .related-article {
    font-size: 36px;
    font-family: var(--font--headings);
    font-weight: var(--heading--font-weight);
    padding: 24px 20px 24px 0px;
    letter-spacing: -0.04em;
    line-height: 1.15;
    margin-bottom: -72px;
}

.related-article-image {
    background: var(--global--color-dark-grey);
    border-radius: 16px;
    height: 240px;
}

.related-article-title h3 {
    color: var(--global--color-dark-grey);
    font-size: 24px;
    font-family: var(--font--headings);
    font-weight: var(--heading--font-weight);
    margin-bottom: 8px;
    letter-spacing: -0.04em;
    line-height: 1.15;
}

.related-article-desc {
    color: var(--global--color-dark-grey);
    font-size: 20px;
    font-family: var(--font-base);
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.15;
}

.featured-article {
    background-color: var(--global--color-dark-grey);
    border-radius: 24px;
    color: #FFFFFF;
    padding: 24px 20px 24px 20px;
    margin-right: 48px;
    min-height: 420px;
    width: 100%;
}

.menu-header {
    box-shadow: 0px 3px #FFFFFF;
    margin-bottom: 4px;
    position: relative;
    left: 14px;
}

.menu-header a {
    margin-bottom: -4px;
    position: relative;
    left: -14px;
}

.menu-header a:hover {
    opacity: 1 !important;
    pointer-events: none !important;
}

.extrawide {
    width: calc(var(--responsive--alignwide-width) + 42px) !important;
    transition: 500ms !important;
}

.rounded {
    border-radius: $border-radius !important;
}

.rounded-sm {
    border-radius: $border-radius-sm !important;
}

.rounded-lg {
    border-radius: $border-radius-lg !important;
}

.wp-block-image.rounded,
.wp-block-embed.rounded {
    border-radius: none !important;

    img, iframe {
        border-radius: $border-radius !important;
    }
}

.wp-block-image.rounded-sm,
.wp-block-embed.rounded-sm {
    border-radius: none !important;

    img, iframe {
        border-radius: $border-radius-sm !important;
    }
}

.wp-block-image.rounded-lg,
.wp-block-embed.rounded-lg {
    border-radius: none !important;

    img, iframe {
        border-radius: $border-radius-lg !important;
    }
}

.box-shadow {
    box-shadow: (5px 5px var(--global--color-yellow)) !important;
}

.shadow {
    box-shadow: $box-shadow !important;
}

.shadow-sm {
    box-shadow: $box-shadow-sm !important;
}

.shadow-lg {
    box-shadow: $box-shadow-lg !important;
}

.wp-block-image.shadow,
.wp-block-embed.shadow {
    box-shadow: none !important;

    img, iframe {
        box-shadow: $box-shadow !important;
    }
}

.wp-block-image.shadow-sm,
.wp-block-embed.shadow-sm {
    box-shadow: none !important;

    img, iframe {
        box-shadow: $box-shadow-sm !important;
    }
}

.wp-block-image.shadow-lg,
.wp-block-embed.shadow-lg {
    box-shadow: none !important;

    img, iframe {
        box-shadow: $box-shadow-lg !important;
    }
}

.p0 {
    padding: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

$directions: (
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left",
);

@each $initial, $direction in $directions {
    .m#{$initial}-0 {
        margin-#{$direction}: 0 !important;
    }

    .p#{$initial}-0 {
        padding-#{$direction}: 0 !important;
    }
}

.wp-block-cover.pb-0 .wp-block-cover__inner-container {
    margin-bottom: 0;
}

@for $i from -5 through 5 {
    $slug: $i;

    @if $i < 0 {
        $slug: "n#{$i * -1}"
    }

    .rotate-#{$slug} {
        transform: rotate(#{$i}deg) !important;
    }
}

.rotate-0 {
    transform: rotate(0deg) !important;
}